@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');

header{
    font-family: "Tektur", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    width: 100svw;
    height: 100px;
    background: #060133;
    color: aliceblue;
    font-size: 40px;
    font-weight: 900;
    padding: 20px 0 0 20px;
    /* position: fixed;
    top: 0; */
}