.container{
    width: 100%;
    height: 100%;
}

.list-view{
    width: 100%;
    height: 370px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
}

.clear-btn{
    width: 130px;
    padding: 10px 20px !important;
    position: relative;
    right: 150px;
}

.list-container{
    width: 90%;
    height: 100%;
    margin-top: 20px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.list-item{
    overflow: hidden;
}

.list-container-bar{
    width: 90%;
    color: aliceblue !important;
    background: #060133;
    color: #060133;  
    font-family: "Poppins", sans-serif;
    display: inline-flex;
    justify-content: space-between; 
    align-items: center;
    padding: 13px 20px;
    margin-left: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    list-style-type: none;
    transition: all 2s ease-in-out;
    animation: come .2s ease-in-out 1;
}

.remove-class{
    animation: scale-up .7s ease-in-out 1;
    animation-fill-mode: forwards;
}



.btn{
    background: cyan;
    color: #060133;
    font-size: 20px;
    border: none;
    font-weight: 700;
    border-radius: 5px;
    padding: 0px 16px;
    margin-left: 15px;
    cursor: pointer;
}

.completed-switch{
    font-size: 20px !important;
    padding: 10px 16px !important;
}

.display-none{
    display: none;
}

.btn span{
    margin-top: 5px;
    font-size: 30px;
}

.btn:hover{
    background: rgb(9, 155, 155);
}

@keyframes come {
    from{transform: translateY(-100px)}
    to{transform: translateY(0)}
}

@keyframes scale-up {
    from{scale: 1;}
    to{scale: 0;}
}

@media screen and (max-width:400px) {
    .user-input{
        margin-top: 10px;
    }

    .list-container-bar{
        width: 100%;
        margin: 0;
    }

    .btn span{
        font-size: 15px;
    }
    
}

@media screen and (max-width:1200px) {
    .clear-btn{
        display: none;
    }
}