/* Google fonts 'poppins' */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.user-input{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-input .input-container{
    width: 100%;
    text-align: center;
}

.user-input .input-container input{
    width: 60%;
    color: aliceblue;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    background: #0c0734 !important;
    padding: 15px 16px;
    padding-left: 20px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border: none;
    outline: none;
}

.user-input .input-container button{
    color: #0c0734;
    background: cyan;
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px;
    position: relative;
    bottom: 2px;
    cursor: pointer;
}

.user-input .input-container button:hover{
    background: rgb(2, 126, 126);
}

.btn-holder{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:400px) {
    .user-input .input-container input{
        width: 74%;
        padding: 7px 15px;
        font-size: 16px;
    }

    .user-input .input-container button{
        font-size: 12px;
        padding: 11px 10px;
    }
}